html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    position: relative;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "toolbar toolbar toolbar" "shapes content properties";
    height: 100%;
}

#toolbar {
    grid-area: toolbar;
    position: relative;
    z-index: 30;
    display: flex;
    min-height: 60px;
    max-height: 60px;
    padding: 0 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#shapes {
    grid-area: shapes;
    align-content: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

#shapes>.shape {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    grid-area: content;
}

#properties {
    grid-area: properties;
    color: #666666;
}

#editor-wrapper>div:not(#content) {
    font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
    display: flex;
    overflow-y: auto;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f8f8f8;
    border-right: 1px solid #e0e0e0;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #cccccc;
}

#loading>div {
    width: 3rem;
    height: 3rem;
}

#modal-fileuploader .preview-image, #modal-fileuploader .preview-image>img {
    max-width: 100%;
}

#alert-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
}

.cm {
    position: fixed;
    z-index: 999;
    border: 1px solid rgb(94, 118, 236);
    width: 200px;
    background-color: #f8f8f8;
}

.cm .cm-button {
    padding: 0.25em;
    user-select: none;
    cursor: pointer;
    
}
.cm .cm-button.disabled {
    cursor: default;
    
    background-color: #555555;
    color: #cccccc9f;
}

.cm .cm-button:not(.disabled):hover {
    background-color: #cccccc9f;
}